<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    
    <div id="register" class="w-50 shadow mx-auto mt-5 p-3">
        <form>
        <h1 class="text-center">User Registration Form</h1>
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="firstname" placeholder="first Name" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" name="lastname" placeholder="Last Name" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <input type="text" name="email" placeholder="Email Address" class="form-control">
            </div>
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="M"> Male                    
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="F"> Female                    
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <input type="text" name="phone" placeholder="Phone" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="number" name="age" placeholder="Age" class="form-control">
            </div>
        </div>

         <div class="row mt-3">
            <div class="col-md-6">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control">
            </div>
        </div>
        <div align="right">
            <button type="submit" class="btn btn-primary mt-4">Register</button>
        </div>  
        </form>      
    </div>

{{>footer}}
<script>
    const form = document.querySelector('form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const firstname = form.firstname.value
        const lastname = form.lastname.value
        const email = form.email.value
        const gender = form.gender.value
        const phone = form.phone.value
        const age= form.age.value
        const password = form.password.value
        const confirm_password = form.confirm_password.value

        try {
            const params = {
                method: 'POST',
                headers: {'Content-Type':'application/json'},
                body:JSON.stringify({firstname, lastname, email, gender, phone, age, password, confirm_password})
            }
            const res = await fetch('/signup', params)
            const data = await res.json()
            if(data.errors){
                alert(data)
            }
            if(data.user){
                location.assign('/')
            }
        } catch(error){
            console.log(error)
        }
    });

</script>
</body>
</html>